services:
  backup-receiver:
    build:
      context: ./receiver
      dockerfile: ./receiver.Dockerfile
    container_name: backup-receiver
    command: --config /config.yml --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./receiver/config.yml:/config.yml:ro
      - ./archive:/archive
    user: "1000:1000"
    restart: unless-stopped

  backup-sender:
    build:
      context: ./sender
      dockerfile: ./sender.Dockerfile
    container_name: backup-sender-minecraft
    volumes:
      - ./sender/config.yml:/config.yml:ro
      - ./test:/watch
    network_mode: host
    # restart: unless-stopped
