services:
  backup-receiver:
    build:
      context: ./receiver
      dockerfile: ./receiver.Dockerfile
    container_name: backup-receiver
    command: --config /config.yml --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./receiver/config.yml:/config.yml:ro
      - ./archive:/archive
    user: "1000:1000"

  backup-sender:
    build:
      context: ./sender
      dockerfile: ./sender.Dockerfile
    container_name: backup-sender
    volumes:
      - ./sender/config.yml:/config.yml:ro
      - ./test:/watch:ro
    network_mode: host

  backup-archiver:
    build:
      context: ./archiver
      dockerfile: ./archiver.Dockerfile
    container_name: backup-archiver
    volumes:
      - ./archiver/config.yml:/config.yml:ro
      - ./archiver/include-patterns:/include-patterns:ro
      - ./watch:/server:ro
      - ./backups:/backups
