services:
  backup-receiver:
    build:
      context: ./receiver
      dockerfile: ./receiver.Dockerfile
    container_name: backup-receiver
    command: --config /config.yml --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./receiver/config.yml:/config.yml:ro
      - ./archive:/archive
    user: "1000:1000"
    pids_limit: 50
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  backup-sender:
    build:
      context: ./sender
      dockerfile: ./sender.Dockerfile
    container_name: backup-sender
    volumes:
      - ./sender/config.yml:/config.yml:ro
      - ./test:/watch:ro
    network_mode: host
    depends_on:
      backup-archiver:
          condition: service_healthy
    pids_limit: 50
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 128M

  backup-archiver:
    build:
      context: ./archiver
      dockerfile: ./archiver.Dockerfile
    container_name: backup-archiver
    volumes:
      - ./archiver/config.yml:/config.yml:ro
      - ./archiver/include-patterns:/include-patterns:ro
      - ./watch:/server:ro
      - ./backups:/backups
    user: "1000:1000"
    pids_limit: 50
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
